- content_for :meta_desicription do
  %meta{:name => "description",
        :content => site_tagline}
  - if ENV['GOOGLE_SITE_VERIFICATION']
    %meta{:name => "google-site-verification",
          :content => ENV['GOOGLE_SITE_VERIFICATION']}

= render 'shared/user_cards'
