.d1
  - for i in 0..10 do
    .user-card
      .inner
        .dp
          %img{:src => 'https://si0.twimg.com/profile_images/644015952/jonathanportrait_bigger.jpg'}
        .r
          %h3.name Jonathan D'Mello
          %p.minor Practo · Bangalore